body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}
h2{
  color: #12d226;
}
#titulo{
  background-color: #64de66;
  color: #070707;
  padding: 5px 0;
  margin-bottom: 20px;
}


#minha_foto{
  border-radius: 30%;
  object-fit: cover;
  object-position: top;
  border: 10px solid #12d226;
}